{% extends "base.html" %}

{% block title %} Manage User {% endblock %}

{% block content %}
<body>
    <table>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Role </th>
            <th> Status </th>
            <th> Take action </th>
        </tr>
        {% for user in users %}
        <tr>
            <td> {{user.name}} </td>
            <td> {{user.email}} </td>
            <td> {{user.role}} </td>
            <td>
                {% if not user.status %}
                    Locked
                {% else %}
                    Active
                {% endif %}
            </td>
            <td>
                <form method="POST" action="{{ url_for('toggle_status', user_id = user.id) }}">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    {% if not user.status %}
                    <button type="submit">
                        Activate
                    </button>
                    {% else %}
                    <button type="submit">
                        Lock
                    </button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('create_coach') }}"> Create Coach </a>
</body>

{% endblock %}