<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage User</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <p class="flash"> {{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <table>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Role </th>
            <th> Status </th>
        </tr>
        {% for user in users %}
        <tr>
            <td> {{user.name}} </td>
            <td> {{user.email}} </td>
            <td> {{user.role}} </td>
            <td>
                {% if not user.status %}
                    Locked
                {% else %}
                    Active
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('create_coach') }}"> Create Coach </a>
</body>
</html>